/* 通用樣式表 */

* {
    /* 外框 */
    margin: 0;
    /* 內框 */
    padding: 0;
    box-sizing: border-box;
    /* 字體 */
    font-family: "Poppins", sans-serif;
}

body {
    /* 背景色 */
    background: linear-gradient(120deg,#2980b9, #8122aa);
    /* 超出範圍-隱藏 */
    overflow: hidden;
}
