/* 登入樣式表 */

/* =========================================================
* body
*  ========================================================= */
body {
    /* 超出範圍-隱藏 */
    overflow: hidden;
}

/* =========================================================
* container
*  ========================================================= */
.container {
    /* 顯示位置 */
    position: absolute;
    /* 頂部、左部 */
    top: 50%;
    left: 50%;
    /* 轉換位置 */
    transform: translate(-50%, -70%);
    /* 寬度、高度 */
    width: 600px;
    /* 背景色 */
    background: white;
    /* 圓角 */
    border-radius: 25px;
    /* 陰影 */
    box-shadow: 25px 25px 30px rgba(0, 0, 0, 0.35);
}

.container h1 {
    /* 文本至中 */
    text-align: center;
    /* 內框 */
    padding: 20px 0;
    /* 邊框底部、顏色 */
    border-bottom: 5px solid rgb(190, 70, 200);
}

/* =========================================================
* container -> form
*  ========================================================= */
.container form {
    /* 內框 */
    padding: 0 80px 20px;
    box-sizing: border-box;
}

/* =========================================================
* form -> field
*  ========================================================= */
form .field {
    /* 顯示位置 */
    position: relative;
    /* 邊框底部、顏色 */
    border-bottom: 2.5px solid #adadad;
    /* 外框 */
    margin: 35px 0;
}

.field input {
    /* 寬度 */
    width: 100%;
    /* 高度 */
    height: 40px;
    /* 內框 */
    padding: 0 5px;
    /* 字體大小 */
    font-size: 20px;
    /* 邊框 */
    border: none;
    /* 背景 */
    background: none;
    outline: none;
    /* 文本至中 */
    text-align: center;
}
  
.field label {
    /* 顯示位置 */
    position: absolute;
    /* 頂部、左部 */
    top: 50%;
    left: 5px;
    /* 顏色 */
    color: #adadad;
    /* 轉換 */ 
    transform: translateY(-50%);
    /* 字體大小 */
    font-size: 16px;
    /* 滑鼠事件 */
    pointer-events: none;
    /* 過度期 */
    transition: .5s;
}

.field input:focus ~ label,
.field input:valid ~ label {
    top: -10px;
    color: #2691d9;
}
  
.field span::before {
    /* 內容 */
    content: "";
    /* 顯示位置 */
    position: absolute;
    /* 頂部、左部 */
    top: 40px;
    left: 0;
    /* 寬度、高度 */
    width: 0%;
    height: 2px;
    /* 背景色 */
    background: #2691d9;
    /* 過度期 */
    transition: .5s;
}

.field input:focus ~ span::before,
.field input:valid ~ span::before {
    width: 100%;
}

/* =========================================================
* input[submit]
*  ========================================================= */
input[type="submit"] {
    /* 外框 */
    margin: 10px 0 10px 0;
    /* 寬度、高度 */
    width: 100%;
    height: 50px;
    /* 邊框 */
    border: 1px solid;
    /* 背景色 */
    background: #76b9e6;
    /* 圓角 */
    border-radius: 25px;
    /* 文本大小 */
    font-size: 18px;
    /* 顏色 */
    color: #e9f4fb;
    /* 粗細度 */
    font-weight: 700;
    /* 滑鼠屬標樣式 */
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover {
    /* 邊框色 */
    border-color: none;
    /* 背景色 */
    background: #474aec;
    /* 過渡期 */
    transition: .5s;
}

/* =========================================================
* singup
*  ========================================================= */
.singup {
    /* 外框 */
    margin: 30px 0;
    /* 文本至中 */  
    text-align: center;
    /* 文本大小 */
    font-size: 16px;
    /* 顏色 */
    color: #666666;
}

.singup a {
    /* 顏色 */
    color: #2691d9;
    /* 文字裝飾 */
    text-decoration: none;
}

.singup a:hover {
    /* 文字裝飾-下畫線 */
    text-decoration: underline;
}

/* =========================================================
* messagebox
*  ========================================================= */
.messagebox-error {
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width: 75%;
    border-radius: 5px;
    margin: 20px auto;
    text-align: center;
}

/* =========================================================
* copyright
*  ========================================================= */
.copyright {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #757575;
}

.copyright p {
	color: var(--text-color);
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 2px;
}
